.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #737d8e;
  background-repeat: no-repeat;
  background-size: cover;
  
  
}

.search {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  margin-left: 10px;
  border-radius: 5px;
  border: none;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.container {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  padding: 20px;
  padding-bottom: 10px;
  width: 400px;
  max-width: 90%;
  text-align: center;
  transition: transform 0.3s ease-in-out;
  transform: scale(1);
  border-radius: 20px;
  border-color: rgb(91, 141, 170);
  border-style: outset;
  border-width: 10px;
  
}

.container.animate {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}


.top {
  margin-bottom: 20px;
}

.city p {
  font-size: 24px;
  font-weight: bold;
}

.temp h1 {
  font-size: 50px;
  font-weight: bold;
}

.description p {
  font-size: 18px;
}

.bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  opacity: 1;
  border-radius: 1rem;
  
  
  border-width: 5px;
}

.bold {
  font-weight: bold;
}

.bi-moisture {
  vertical-align: middle;
  margin-left: 5px;
  font-size: 20px;
  color: red;
}

@media only screen and (max-width: 768px) {
  .container {
    width: 90%;
    max-width: 90%;
  }
}
